*,
*::before,
*::after {
  box-sizing:border-box;
}

* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin: 10px 0 30px;
}

.container {
  display: flex;
  justify-content: center;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 250px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
  height: 70px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

.row button {
  height: 48px;
  width: 48px;
  border-radius: 8px;
}

/* Temporary */
* {
  background-color: #1e2b1e;
}

.calculator-body,
.display,
.buttons-container {
  border: 2px solid #9eb996;
} 
