*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

* {
  background-color: #ebebeb;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1e2b1e;
  border-bottom: 1px solid #9eb996;
  text-align: center;
  padding: 10px;
  margin: 0 0 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 390px;
  width: 260px;
  background-color: #1e2b1e;
  border: 2px solid #9eb996;
  border-radius: 10px;
}

.calculator-body > div,
.row {
  margin: 0 8px 0;
  border-radius: 6px;
}

div.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 43px;
  height: 70px;
}

p.display {
  font-family: Calculator, sans-serif;
  margin: 3px;
}

.display,
.buttons-container,
.row {
  background-color: #9eb996;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  height: 55px;
  margin: 0;
}

button {
  background-color: #1e2b1e;
  color: #9eb996;
  font-weight: bolder;
  font-size: 20px;
  width: 80px;
  border-radius: 4px;
  margin: 2px;
}

button:hover {
  cursor: pointer;
}

sup {
  background-color: #1e2b1e;
}

button.number,
button.negate,
.negate > * {
  background-color: #293a29;
}
